**
!.gitattributes
!LICENSE
!python/
!python/**
!scripts/
!scripts/qwen_exo/
!scripts/qwen_exo/**
!docker/
!docker/QWEN-EXO-booster.Dockerfile
!test/
!test/registered/
!test/registered/qwen_exo/
!test/registered/qwen_exo/**
!docs/
!docs/qwen_exo/
!docs/qwen_exo/**
**/__pycache__/
**/*.pyc
**/.pytest_cache/
**/.ruff_cache/
